*{
    margin: 20, 20;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(237, 244, 244);
}
body{
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}
.logo{
    height: 70px;
    width: 70px;
    margin-right: auto;
    margin-left: 30px;
}
.nav-bar{
    list-style: none;
    display: flex;
}
li{
    padding: 30px;
    text-decoration: none;
    color: black;
}
.log{
    height: 200px;
    width: 200px;
    margin-right: auto;
    margin-left: 30px;
}
.name{
    color:#02913E;
    font-weight: bold;
    text-align: justify;
    padding-left: 250px;
}
.text{
    color: #16246D;
    text-align: justify;
    padding-left: 250px;
    
}
.images{
    display: flex;
    justify-content: space-evenly;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
}
.content{
    text-align: center;
}
.col-md-4{
    text-align: center;
}
.circle{
    border-radius: 50%;
    display: block;
    margin: auto;
}
.img-box{
    display: block;
    margin: auto;
}
.main{
    display: grid;
    justify-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 30px;
    row-gap: 20px;
    background: url(./images/image1.png) center no-repeat;
    height: 100%;
}

.main img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    object-position: center;
}